{% extends "cake/base.html" %}
{% load staticfiles %}


{% block content %}


<div class="am-g am-imglist">
    <ul id="cake_content" data-am-widget="gallery" class="am-gallery am-avg-sm-2
  am-avg-md-3 am-avg-lg-6 am-gallery-default">

        {% for cake in allcake %}
        <li>
            <div class="am-gallery-item am_list_block">
                <a href="{% url 'cake:detail' cake.id %}" class="am_img_bg">
                    <img class="am_img animated" src="{% static 'img/loading.gif' %}"
                         data-original="/static/img/{{cake.img}}"
                         alt="满街香蛋糕欢迎您"/>
                </a>

                <div class="am_listimg_info">
                    <span class="am-icon-cny am-danger"
                          style="margin-right:0px;color:#ff0000;font-size:15px">{{cake.price}}</span>
                </div>
                <span class="am_imglist_user_font">{{cake.name}}</span>

            </div>
        </li>

        {% endfor %}

    </ul>
</div>

<div id="moreCake" class="am_news_load">
      <span style="color:#333">
          <i class="am-icon-spinner am-icon-spin"></i> 查看更多</span>
</div>

<div id="test1">
    666666666666
</div>
<div id="test2">
    111111
</div>

<ul class="am-pagination">

    {% if allcake.has_previous %}
    <li>
        <a href="?page={{ allcake.previous_page_number }}">&laquo;</a>
    </li>
    {% else %}
    <li class="am-disabled"><a href="#">&laquo;</a></li>
    {% endif %}

    {% for pg in allcake.paginator.page_range %}
    {% if allcake.number == pg %}
    <li class="am-active"><a href="?page={{ pg }}">{{pg}}</a></li>
    {% else %}
    <li><a href="?page={{ pg }}">{{pg}}</a></li>
    {% endif %}
    {% endfor %}

    {% if allcake.has_next %}
    <li>
        <a href="?page={{ allcake.next_page_number }}">&raquo;</a>
    </li>
    {% else %}
    <li class="am-disabled"><a href="#">&raquo;</a></li>
    {% endif %}

</ul>


<!--<script src="{% static 'js/petshow.js' %}"></script>-->

<script>


   var page = 2
    $("#moreCake").click(function(){
        console.log("========")

        $("#moreCake").text("000000");
        //发送消息给java代码
           <!--var data = '发送消息给java代码全局接收';-->
           <!--//第一个参数要发送的数据 第二个参数js在被回调后具体执行方法，responseData为java层回传数据-->
           <!--window.WebViewJavascriptBridge.send(-->
               <!--data-->
               <!--, function(responseData) {-->
                  <!--$("#moreCake").text('来自Java的回传数据： ' +responseData);-->

               <!--}-->
           <!--);-->

           var data='发送消息给java代码指定接收';
           window.WebViewJavascriptBridge.callHandler(
               'submitFromWeb'
               ,data
               , function(responseData) {
                  $("#moreCake").text('来自Java的回传数据： ' +responseData);
               }
           );

           }
    )

       //注册事件监听
       function connectWebViewJavascriptBridge(callback) {
           if (window.WebViewJavascriptBridge) {
           $("#test1").text("qqqqqq")
               callback(WebViewJavascriptBridge)
           } else {

               document.addEventListener(
                   'WebViewJavascriptBridgeReady'
                   , function() {
                       callback(WebViewJavascriptBridge)

                   },
                   false
               );
           }
       }
       //注册回调函数，第一次连接时调用 初始化函数
       connectWebViewJavascriptBridge(function(bridge) {

       $("#test1").text("44444")

           bridge.init(function(message, responseCallback) {

               $("#test1").text('默认接收收到来自Java数据： ' + message);
               var responseData = '默认接收收到来自Java的数据，回传数据给你';
               responseCallback(responseData);
           });

           bridge.registerHandler("functionInJs", function(data, responseCallback) {
               $("#test2").text('指定接收收到来自Java数据： ' + data);
               var responseData = '指定接收收到来自Java的数据，回传数据给你';
               responseCallback(responseData);
           });
       })


</script>


<script src="{% static 'js/petshow.js' %}"></script>


{% endblock %}


